<p>Cher utilisateur,</p>
<br>
<p>Nous avons reçu une demande de réinitialisation de votre mot de passe. Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce courrier électronique.</p>
<br>
<p>Si vous souhaitez réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :<br>
<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">[Lien de réinitialisation de mot de passe]</a> <br>
Ce lien sera valide pendant 1 heure.</p>
<br>
<p>Si vous rencontrez des difficultés lors de la réinitialisation de votre mot de passe, n'hésitez pas à nous contacter. Nous serons heureux de vous aider.</p> 
<br>
<p>Merci de votre attention.</p>
<br>
<p>Cordialement, <br>
DayOff</p>