<p>Cher utilisateur,</p> <br>
<p>Nous sommes ravis de vous accueillir sur notre plateforme. Afin de confirmer votre compte, veuillez cliquer sur le lien ci-dessous :</p> <br>
<p><a href="{{url('confirm_account', {"token": token})}}">Lien de confirmation</a></p> <br>
<p>Merci d'avoir choisi notre service. Nous sommes impatients de vous fournir une expérience de qualité.</p> <br>
<p>Cordialement,<br>
L'équipe [DayOff]</p>