<p>Bonjour,</p>

<p>Votre demande de "{{ request.getType() }}" pour la période du <strong>{{ request.getStartDate()|date('d/m/Y') }}</strong> au <strong>{{ request.getEndDate()|date('d/m/Y') }}</strong> à été refusé.</p>

<p>Cordialement,<br>
L'équipe [DayOff]</p>